body {
    margin: 0;
    padding: 0;
}

.yearsWrapper {
    margin: 0 auto;
    width: 95%;
    padding: 0;
    list-style: none;
}

.weeks-year {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    .week {
        margin: .25%;
        border-radius: 25px;
        width: 1.25vw;
        height: 1.25vw;
        background-color: #ffde00;
        display: inline-block;
        &:hover {
            background-color: blue;
        }
    }
}